

<nav class="navbar navbar-dark bg-light m-3">
  <h1 class="display-3 text-dark"><strong>CrossOver Todos</strong></h1>
    <button class="btn btn-success my-2 my-sm-0" (click)="logout()">Logout</button>
</nav>

<div class="container" >
  <div class="row mb-4" >
    <div class="col"  >

      <div class="card border border-dark"   >
        <h3 class="card-header bg-warning"> <strong class="text-light">IN PROGRESS</strong></h3>

        <todo  *ngFor="let inProgressTodo of todosInProgress" [todo]="inProgressTodo"  (deleteItem)="deleteItem(inProgressTodo._id)"  [makeDraggable]="inProgressTodo" makeDroppable (dropped)="onDrop($event, inProgressTodo)">

        </todo>

        <a (click)="showNewItem()" class="text-center">( Add New Item )</a>

        <div class="card m-1" *ngIf="isAdding">
          <div class="card-body">
            <div class="card-title">
              <input type="text" class="form-control" [(ngModel)]="todoTmp.title" id="title" name="title" placeholder="Title" />
            </div>

            <div class="card-text" >
              <input type="text" class="form-control" [(ngModel)]="todoTmp.description" id="description" name="description" placeholder="Description" />
            </div>

            <div class="text-right">
              <button type="button"  (click)="cancelAdding()" class="btn btn-warning mt-1"  >Cancel</button>
              <button type="button"  (click)="addNewItem()" class="btn btn-success mt-1"  >Add</button>
            </div>


        </div>
        </div>




      </div>

    </div>

    <div class="col"  >
      <div class="card border border-dark"  >
        <h3 class="card-header bg-success"> <strong class="text-light">Completed</strong></h3>

        <todo *ngFor="let todoCompleted of todosCompleted" [todo]="todoCompleted" (deleteItem)="deleteItem(todoCompleted._id)"  [makeDraggable]="todoCompleted" makeDroppable (dropped)="onDrop($event, todoCompleted)">

        </todo>


      </div>
    </div>
  </div>
</div>
